
body{
  font-family: 'Recoleta', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.centerUseless{
  width: 100%;
  max-width: 1635px;
  margin: 0 auto;
}

.containerUseless{
  padding: 0 20px;
  padding-top: 55px;
  margin:0 auto;
  width: 100%;
  max-width: 100%;
}

.logo{
  color:#000;
  font-size: 36px;
  font-weight: 400;
}

.headerCenter{
  width: 100%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.uselessYear{
  position: relative;
  font-family: Recoleta,sans-serif;
  font-size: 24px;
  font-weight: 400;
  color:#000;
}

.uselessYear:before{
  content: '';
  position: absolute;
  left: -108px;
  width:85px;
  height: 3px;
  background-color: #000;
  bottom: 10px;
}

.max820-920-w{
  max-width: 730px !important;
}

.s1-home{
  max-width:100%;
}
.max820-920-w.mob-marg-lr-20px{
  padding: 0;
}

.lottie-w{
  height: 350px;
}

.titleUseless,
.titleUseless>h1{
  width: 100%;
  max-width: 730px !important;
  font-size: 80px;
  font-weight: 400;
}

.sub-w.home{
  margin-top: 0;
}

.subtitleUseless{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.twoText{
  margin-top: 18px;
  width: 100%;
  max-width: 900px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  color:#000;
}

.twoUsellesCenter{
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

/* MOBILE */
@media (max-width:768px){
  .containerUseless{
    width: 100%;
    max-width: 100%;
  }

  .uselessYear:before{
    display: none;
  }
  .lottie-w{
    width: 100%;
    max-width: 100%;
  }
  .max820-920-w.mob-marg-lr-20px{
    margin: 0;
    padding: 0;
  }
}